/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(82, 22, 233);
}

/* Apply padding to the page container */
.page-container {
    height : 100vh;
    padding: 30px 150px;
}

/* Header styles */
header {
    background-color: rgb(82, 22, 233);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 68px;
    
}

.header-left,a {
    flex: 1;
    color: white;
    text-decoration: none;
}

.header-left a {
    font-size:40px ;
}

.header-right {
    display: flex;
    /* flex : 1; */
    gap: 40px;
    font-size: 30px;

}

.header-right a {
    /* color: #fff; */
    text-decoration: none;
    padding: 10px 20px;
    
}

.overview {
    color: gray;
}

/* Styling for the "Purchase" button */
.purchase-button {
    background-color: rgb(229, 13, 197);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px; /* Add rounded corners */
    text-decoration: none;
    cursor: pointer;
}

/* Main styles */
main {
    display: flex;
    padding: 30px;
}

.main-left {
    flex: 1;
    padding: 20px;
    color: white;
}

.h1 {
    font-size: 90px;
    margin-bottom: 10px;
}

.para {
    font-size: 40px;
    margin-bottom: 40px;
}


.main-right {
    flex: 1;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

/* Learn More button style */
.learn-more-button {
    display: inline-block;
    background-color: rgb(229, 13, 197);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px; /* Add rounded corners */
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}

/* Form styles */
form {
    background-color: white;
    padding: 40px;
    /* border-radius: 15px; */
}

.form-group {
    /* display: inline-block; */
    border-radius: 15px;
    margin: 10px 0;
    display: flex;
    padding: 0 40px;
    border-color: rgb(215, 203, 203);
    margin-bottom: 30px;
}

.sign_up {
    font-size: 50px;
}

/* label {
    display: block;
} */

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px ;
    margin-top: 15px;
    border-radius: 15px;
    border : 1px solid #ddd;
    font-weight: bold;
}

.submit {
    background-color: rgb(82, 22, 233);
    font-size: larger;
    padding : 10px 220px 10px 220px;
    border-radius: 20px;
    color: white;
    margin-bottom: 20px;
    margin-top: 15px;
    white-space: nowrap;
    cursor: pointer;
}

/* ------------------------------------------------------------- */

.or_line {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.para_or{
    font-size: large;
    font-weight: bold;
   
}

.before_line {
    border: 1px solid gray; 
    margin-top: 8px;
    height: 0px; 
    width: 35%; 
}
.after_line {
    border: 1px solid gray; 
    margin-top: 8px;
    height: 0px; 
    width: 35%; 
}

/* ----------------------------------------------------------------- */

.twitter-login-button {
    background-color: rgb(102, 146, 228);
    color: #fff;
    font-size: larger;
    /* display: inline-block; */
    white-space: nowrap;
    /* padding : 10px 80px 10px 80px; */
    padding : 10px 188px 10px 188px;
    border-radius:20px ;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

/* ----------------------------------------------------- */

.account {
    font-size: large;
}

.sign_in {
    font-size: large;
    padding: 10px;
    color: blue;
}
/* Additional styling for the checkbox */
/* input[type="checkbox"] {
    margin-right: 5px;
} */

/* Change checkbox color to green when checked */
input[type="checkbox"] {
    margin-right: 5px;
    font-size: large;
    /* appearance: none; Remove default checkbox style */
}

input[type="checkbox"]:checked {
    background-color: green;
    border: 1px solid green;
}

/* Additional styling for the checkbox label */
input[type="checkbox"] + label {
    display: inline;
    font-size: large;
}


